<app-spinner *ngIf="!estadoSpinner"></app-spinner>

<body>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <div class="img-titulo">
                    <img src="../../../../assets/icono/iconCarFace.png">
                    <span class="title">Inicio de sesión</span>
                </div>
                <!--Formulario de inicio de sesión-->
                <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
                    <div class="input-field">
                        <input type="text" placeholder="Email" required formControlName="correo">
                        <fa-icon [icon]="iconUser"></fa-icon>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Contraseña" required
                            formControlName="clave">
                        <fa-icon [icon]="iconCandado"></fa-icon>
                        <fa-icon [icon]="iconOjo" class="showHidePw"></fa-icon>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Recuérdame</label>
                        </div>
                        <a (click)="olvideContrasenia()" id="olvideContrasenia" class="text">Olvidé mi contraseña</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Iniciar Sesión">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">¿No estás registrado?
                        <a (click)="abrirFormRegistro()" [ngSwitch]="indice" class="text signup-link">Regístrate ahora
                            <app-registro-usuario *ngSwitchCase="1"></app-registro-usuario>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>