<app-spinner *ngIf="!estadoSpinner"></app-spinner>

<body>
    <div class="top-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-sm-offset-3 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-5 form-box">
                    <form [formGroup]="formDatosChofer" (ngSubmit)="registrarChofer()" role="form" action="" class="f1">

                        <div class="img-titulo">
                            <img src="../../../../assets/icono/iconCarFace.png">
                            <span class="title">Registro de usuarios</span>
                        </div>
                        <div class="f1-steps">
                            <div class="f1-progress">
                                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"
                                    style="width: 16.66%;"></div>
                            </div>
                            <div class="f1-step active">
                                <div class="f1-step-icon"><i class="fa fa-smile-o"></i></div>
                                <p>Paso 1</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                <p>Paso 2</p>
                            </div>
                            <div class="f1-step">
                                <div class="f1-step-icon"><i class="fa fa-lock"></i></div>
                                <p>Registro</p>
                            </div>
                        </div>

                        <!--Paso 1 (Registro de la información personal)-->
                        <fieldset>
                            <br>
                            <div class="form-group">
                                <label class="sr-only" for="f1-first-name">Cédula:</label>
                                <input formControlName="ci" type="text" name="f1-first-name" placeholder="Cédula"
                                    class="f1-first-name form-control" id="f1-first-name" [maxlength]="10">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-last-name">Nombres:</label>
                                <input formControlName="nombre" type="text" name="f1-last-name" placeholder="Nombres"
                                    class="f1-last-name form-control" id="f1-last-name" [maxlength]="30">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-last-name">Apellidos:</label>
                                <input formControlName="apellido" type="text" name="f1-last-name"
                                    placeholder="Apellidos" class="f1-last-name form-control" id="f1-last-name"
                                    [maxlength]="30">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-last-name">Teléfono celular:</label>
                                <input formControlName="telefono" type="text" name="f1-last-name"
                                    placeholder="Teléfono celular" class="f1-last-name form-control" id="f1-last-name"
                                    [maxlength]="10">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-last-name">Tipo licencia:</label>
                                <select formControlName="licencia" name="select" name="f1-last-name"
                                    placeholder="Tipo licencia" class="f1-last-name form-control" id="f1-last-name"
                                    style="margin-bottom: 12px;">
                                    <option value="Tipo-licencia" selected disabled>-- Tipo de licencia --</option>
                                    <option value="A">Tipo A</option>
                                    <option value="B">Tipo B</option>
                                </select>
                            </div>

                            <div class="f1-buttons">
                                <button type="button" class="btn btn-next" (click)="alertaRellenar()">Siguiente</button>
                            </div>
                        </fieldset>

                        <!---Paso 2 (Llenado de la información de inicio de sesión correo y clave)-->
                        <fieldset>
                            <br>
                            <div class="form-group">
                                <label class="sr-only" for="f1-email">Correo:</label>
                                <input formControlName="correo" type="text" name="f1-email"
                                    placeholder="Correo electrónico" class="f1-email form-control" id="f1-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-password">Contraseña</label>
                                <input type="password" name="f1-password" placeholder="Contraseña"
                                    class="f1-password form-control" id="f1-password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="f1-repeat-password">Confirmar contraseña</label>
                                <input formControlName="clave" type="password" name="f1-repeat-password"
                                    placeholder="Confirmar contraseña" class="f1-repeat-password form-control"
                                    id="f1-repeat-password">
                            </div>
                            <div class="f1-buttons">
                                <button type="button" class="btn btn-previous">Atrás</button>
                                <button type="submit"
                                    class="btn btn-next">Registrarme</button>
                            </div>
                        </fieldset>

                        <!--Paso 3 Registro del faceID-->
                        <fieldset>
                            <div class="text-rostro row justify-content-center">
                                <span>Permita el acceso a su cámara para registrar su rostro</span>
                                <span>Foto número: {{numFotos}}</span>
                            </div>

                            <div class="camara mt-4">
                                <div *ngIf="isCameraExist; else noCameraExist">
                                    <div style="text-align: center;">
                                        <div class="btn-group" style="margin-bottom: 10px;">
                                            <button type="button" (click)="capturarFotos()" class="btn btn-primary"
                                                style="margin-right: 10px; border-radius: 6px;"><fa-icon
                                                    [icon]="iconCamara"></fa-icon> Tomar foto</button>
                                            <!--<button type="button" (click)="cambiarCamara(true)" class="btn btn-primary" style="margin-right: 10px; border-radius: 6px;"><fa-icon [icon]="iconCambiarCamara"></fa-icon> Cambiar</button>-->
                                            <button type="button" (click)="onOffCamara()" class="btn btn-primary"
                                                style="margin-right: 10px; border-radius: 6px;"><fa-icon
                                                    [icon]="iconOnOffCamara"></fa-icon> On / Off Cámara</button>
                                        </div>

                                        <!--Barra de progreso para ver cuantas fotos va tomando-->
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                [ngStyle]="{ width: numFotos * 10 + '%' }" aria-valuemin="1"
                                                aria-valuemax="10">
                                            </div>
                                        </div>

                                        <webcam #webcamComponent [height]="300" [width]="300"
                                            [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                                            *ngIf="showWebCam" [switchCamera]="nextWebcamObservable"></webcam>
                                        <p style="color: black;">Este será el rostro a registrar:</p>
                                        <img id="foto" [src]="capturedImageurl" *ngIf="capturedImageurl" [height]="220"
                                            [width]="300">
                                    </div>

                                    <div *ngIf="errors.length > 0">
                                        <h4>Mensajes de error:</h4>
                                        <ul *ngFor="let error of errors">
                                            <li>{{error | json}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!--Por si no existe una cámara-->
                            <ng-template #noCameraExist>
                                No hay una cámara disponible
                            </ng-template>

                            <div class="f1-buttons">
                                <button type="button" (click)="registrarFotos()"
                                    class="btn btn-submit">Registrarme</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>