<app-spinner *ngIf="!estadoSpinner"></app-spinner>

<section class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3 id="titulo"><fa-icon [icon]="iconGuardia"></fa-icon> Registro de Guardias</h3>
        <div class="botones-exportar">
          <button type="button" class="btn btn-warning save-pdf" (click)="downloadPDF()"><fa-icon
              [icon]="iconPdf"></fa-icon> Exportar a .PDF</button>
          <button type="button" class="btn btn-success save-xlsx" (click)="exportToExcel()"><fa-icon
              [icon]="iconXlsx"></fa-icon> Exportar a .XLSX</button>
        </div>
        <div class="card" id="htmlTablaPDF">
          <div class="card-body p-0">
            <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
              <table class="table table-striped mb-0" id="htmlTablaExcel">
                <thead style="background-color: #3a853f;">
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let guardia of guardias; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{guardia.ci}}</td>
                    <td>{{guardia.nombre}}</td>
                    <td>{{guardia.apellido}}</td>
                    <td>{{guardia.correo}}</td>
                    <td>{{guardia.empresa}}</td>
                    <td *ngIf="guardia.estado == 'ACTIVO'; else inactivo">
                      <input (click)="cambiarEstadoGuardia(guardia.id, guardia.estado)" type="checkbox" checked
                        id="checkbox">
                    </td>
                    <ng-template #inactivo>
                      <td><input (click)="cambiarEstadoGuardia(guardia.id, guardia.estado)" type="checkbox"
                          id="checkbox"></td>
                    </ng-template>
                    <td class="acciones">
                      <fa-icon (click)="abrirModalEditarGuardia(modalEditarGuardia, guardias[i])"
                        data-bs-toggle="mensaje" title="Editar" id="iconEditar" [icon]="iconEditar"></fa-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Ventanas emergentes para las acciones de editar y eliminar-->
<!--Para editar los datos de un guardia-->
<ng-template #modalEditarGuardia>
  <app-editar-guardia></app-editar-guardia>
</ng-template>