table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: white;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1rem;
}

thead {
  top: 0;
  position: sticky;
}

#checkbox{
  margin-left: 17px;
}

.botones-exportar {
  margin-bottom: 15px;
  text-align: end;
}

.save-pdf {
  margin-right: 20px;
}


/*Para los botones de las acciones*/
#iconEditar {
  margin-left: 7px;
  margin-right: 20px;
  font-size: 20px;
  color: rgb(64, 140, 202);
}

#iconEliminar {
  font-size: 20px;
  color: rgb(243, 36, 36);
}


/*Responsive*/
@media screen and (max-width: 760px) {
  #titulo {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #subtitulo {
    font-size: 15;
    margin-bottom: 8px;
  }

  .botones-exportar {
    width: 100%;
    text-align: center;
  }

  .botones-exportar .save-pdf {
    margin-bottom: 8px;
    width: 100%;
  }

  .botones-exportar .save-xlsx {
    margin-bottom: 14px;
    width: 100%;
  }
}