<div class="container">
  <h3><fa-icon [icon]="iconCarro"></fa-icon> Vehículos a registrar</h3>
    <div class="registro-vehiculo">
      <p>Aquí puede registrar todos los vehículos que tiene disponible: </p>
      <form>
        <formly-form [model]="modelNewCarro" [fields]="fieldsNewCarro" [options]="optionsNewCarro"
          [form]="formNewCarro">
        </formly-form>
        <div class="row justify-content-end">
          <button type="button" class="btn btn-next btn btn-success" (click)="registrarVehiculos()" style="width: 10%;">Registrar</button>
        </div>
      </form>
    </div>
  </div>