<body id="body">
    
    <header>
        <div class="icon__menu">
            <fa-icon [icon]="iconBarras" id="btn_open"></fa-icon>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img src="../../../../assets/icono/iconCarFace.png"> <span>CarFace</span>
        </div>

        <div class="options__menu">	

            <a href="#" class="selected">
                <div class="option">
                    <fa-icon [icon]="iconInicio"></fa-icon>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <fa-icon [icon]="iconCarro"></fa-icon>
                    <h4>Mis vehículos</h4>
                </div>
            </a>
            
            <a href="#">
                <div class="option">
                    <fa-icon [icon]="iconUsuario"></fa-icon>
                    <h4>Guardias</h4>
                </div>
            </a>

            <a href="#">
                <div class="option">
                    <fa-icon [icon]="iconCerrarSesion"></fa-icon>
                    <h4>Cerrar sesión</h4>
                </div>
            </a>


        </div>

    </div>

    <main>
        <h1>Contenedor</h1><br>
    </main>

    <script src="js/script.js"></script>
</body>