.boton-registrar{
    text-align: end;
}

.registro-vehiculo{
    border-radius: 10px;
    padding: 20px;  
    border: 1px solid rgba(179, 179, 179, 0.863);
}


@media screen and (max-width: 760px) {
    #titulo{
        font-size: 20px;
        margin-bottom: 5px;
    }

    #subtitulo{
        font-size: 15;
        margin-bottom: 8px;
    }
}

