<div class="container">
    <h3 id="titulo"><fa-icon [icon]="iconGuardia"></fa-icon> Guardias a registrar</h3>
    <div class="registro-vehiculo">
        <p id="subtitulo">Aquí puede registrar los guardias encargados del parqueadero: </p>
        <form>
            <formly-form [model]="modelNewGuardia" [fields]="fieldsNewGuardia" [options]="optionsNewGuardia"
                [form]="formNewGuardia">
            </formly-form>

            <div class="boton-registrar">
                <button type="button" class="btn btn-next btn btn-success" (click)="registrarGuardias()">
                    <fa-icon [icon]="iconRegistrar"></fa-icon> Registrar</button>
            </div>
        </form>
    </div>
</div>